<li>
	{{name}}

	<button class="change-devoured" data-id="{{id}}" data-devoured="{{devoured}}">
		Devour It!
	</button>

	{{!-- <button class="delete-cat" data-id="{{this.id}}">DELETE!</button> --}}
</li>
